@	IN	SOA	{{ item.domain }}.	admin.{{ item.domain }}. (
				2014030801	; serial
					1D	; refresh
					1H	; retry
					1W	; expire
					3H )	; minimum
@	300	NS	ns.{{ item.domain }}.
ns	300	IN	A	{{ ansible_host }}
{% for subdomain in item.subdomain %}
{{ subdomain }}	300	IN	A	{{ ansible_host }}
{% endfor %}
