{% if outer_item.plugins.floodgate is defined %}
{% set combined_floodgate = (floodgate | combine(outer_item.plugins.floodgate, recursive=True)) %}
{% else %}
{% set combined_floodgate = floodgate %}
{% endif %}

{{ combined_floodgate | to_nice_yaml(indent=2) }}