{% set combined_farmcontrol = farmcontrol.config %}
{% if global_overrides.farmcontrol.config is defined %}
{% set combined_farmcontrol = (combined_farmcontrol | combine(global_overrides.farmcontrol.config, recursive=True)) %}
{% endif %}
{% if node_overrides.farmcontrol.config is defined %}
{% set combined_farmcontrol = (combined_farmcontrol | combine(node_overrides.farmcontrol.config, recursive=True)) %}
{% endif %}
{% if outer_item.plugins.farmcontrol.config is defined %}
{% set combined_farmcontrol = (combined_farmcontrol | combine(outer_item.plugins.farmcontrol.config, recursive=True)) %}
{% endif %}

{{ combined_farmcontrol | to_nice_yaml(indent=2) }}