{% if outer_item.plugins.luckperms.chat is defined %}
{% set combined_luckperms.chat = (luckperms.chat | combine(outer_item.plugins.luckperms.chat, recursive=True)) %}
{% else %}
{% set combined_luckperms.chat = luckperms.chat %}
{% endif %}

{{ combined_luckperms.chat | to_nice_yaml(indent=2) }}