{% set combined_lpc = lpc %}
{% if global_overrides.lpc is defined %}
{% set combined_lpc = (combined_lpc | combine(global_overrides.lpc, recursive=True)) %}
{% endif %}
{% if node_overrides.lpc is defined %}
{% set combined_lpc = (combined_lpc | combine(node_overrides.lpc, recursive=True)) %}
{% endif %}
{% if outer_item.plugins.lpc is defined %}
{% set combined_lpc = (combined_lpc | combine(outer_item.plugins.lpc, recursive=True)) %}
{% endif %}

{{ combined_lpc | to_nice_yaml(indent=2) }}