{% if combined_luckperms.config['storage-method'] == "json" %}
{{ item | to_nice_json(indent=2) }}
{% elif combined_luckperms.config['storage-method'] == "yaml" %}
{{ item | to_nice_yaml(indent=2) }}
{% endif %}