{% if global_overrides.viaversion is defined and overrides.viaversion is defined %}
{{ viaversion | combine(global_overrides.viaversion, overrides.viaversion, recursive=True) | to_nice_yaml(indent=2) }}
{% elif global_overrides.viaversion is defined %}
{{ viaversion | combine(global_overrides.viaversion, recursive=True) | to_nice_yaml(indent=2) }}
{% elif overrides.viaversion is defined %}
{{ viaversion | combine(overrides.viaversion, recursive=True) | to_nice_yaml(indent=2) }}
{% else %}
{{ viaversion | to_nice_yaml(indent=2) }}
{% endif %}