{% if outer_item.plugins.treeassist.config is defined %}
{% set combined_luckperms = (treeassist.config | combine(outer_item.plugins.treeassist.config, recursive=True)) %}
{% else %}
{% set combined_luckperms = treeassist.config %}
{% endif %}

{{ combined_luckperms | to_nice_yaml(indent=2) }}