{% set combined_treeassist = treeassist.config %}
{% if global_overrides.treeassist.config is defined %}
{% set combined_treeassist = (combined_treeassist | combine(global_overrides.treeassist.config, recursive=True)) %}
{% endif %}
{% if node_overrides.treeassist.config is defined %}
{% set combined_treeassist = (combined_treeassist | combine(node_overrides.treeassist.config, recursive=True)) %}
{% endif %}
{% if outer_item.plugins.treeassist.config is defined %}
{% set combined_treeassist = (combined_treeassist | combine(outer_item.plugins.treeassist.config, recursive=True)) %}
{% endif %}

{{ combined_treeassist | to_nice_yaml(indent=2) }}