[Unit]
Description=Minecraft {{ edition | capitalize }} Server
After=network.target

[Service]
Type=forking
{% if (memtotal_b | int) < (12884901888 - 2147483648) %}
ExecStart=/usr/bin/tmux new-session -s minecraft-{{ edition }} -d '{{ command }}'
{% else %}
ExecStart=/usr/bin/tmux new-session -s minecraft-{{ edition }} -d '{{ high_ram_command }}'
{% endif %}
ExecStop=/home/minecraft/stop_{{ edition }}.sh

WorkingDirectory=/home/minecraft/{{ edition }}

User=minecraft
Group=minecraft

[Install]
WantedBy=multi-user.target
