[Unit]
Description=Minecraft Geyser Server
After=network.target

[Service]
Type=forking
{% if (memtotal_b | int) < (12884901888 - 2147483648) %}
ExecStart=/usr/bin/tmux new-session -s minecraft-geyser -d '{{ command }}'
{% else %}
ExecStart=/usr/bin/tmux new-session -s minecraft-geyser -d '{{ high_ram_command }}'
{% endif %}
ExecStop=/home/minecraft/stop_geyser.sh

WorkingDirectory=/home/minecraft/geyser

User=minecraft
Group=minecraft

[Install]
WantedBy=multi-user.target
