[Unit]
Description=Minecraft Geyser Server
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/bin/systemctl stop minecraft-geyser
ExecStart=/usr/bin/sudo -u minecraft /home/minecraft/backup_geyser.sh
ExecStart=/usr/bin/systemctl start minecraft-geyser

WorkingDirectory=/home/minecraft

[Install]
WantedBy=multi-user.target
