[Unit]
Description=Minecraft {{ edition | capitalize }} Server
After=network.target

[Service]
Type=forking
{% if type == "java" %}
{% if ansible_memtotal_mb < 12288 %}
ExecStart=/usr/bin/tmux new-session -s minecraft-{{ edition }} -d '{{ command }}'
{% else %}
ExecStart=/usr/bin/tmux new-session -s minecraft-{{ edition }} -d '{{ high_ram_command }}'
{% endif %}
{% endif %}
{% if type != "bedrockconnect" %}
ExecStop=/home/minecraft/stop_{{ edition }}.sh
{% endif %}

WorkingDirectory=/home/minecraft/{{ edition }}

User=minecraft
Group=minecraft

[Install]
WantedBy=multi-user.target
