[Unit]
Description={{ item.description }}
After=network.target

[Service]
Type=oneshot
ExecStart=/opt/minecraft/{{ item.execstart }}
WorkingDirectory=/opt/minecraft

[Install]
WantedBy=multi-user.target
