[Unit]
Description={{ item.description }}
{% if item.after is defined %}
After={{ item.after }}
{% endif %}

[Timer]
OnCalendar={{ item.timer }}
{% if item.persistent %}
Persistent=true
{% endif %}

[Install]
WantedBy=timers.target
