{% if outer_item.plugins.viewdistancetweaks is defined %}
{% set combined_viewdistancetweaks = (viewdistancetweaks | combine(outer_item.plugins.viewdistancetweaks, recursive=True)) %}
{% else %}
{% set combined_viewdistancetweaks = viewdistancetweaks %}
{% endif %}

{{ combined_viewdistancetweaks | to_nice_yaml(indent=2) }}