module minecraft 1.0;

require {
	class chr_file { ioctl open read write };
	class file { create execute execute_no_trans map open read write };
	class filesystem getattr;
	class sock_file create;
	type devpts_t;
	type groupadd_t;
	type init_t;
	type proc_t;
	type ptmx_t;
	type screen_exec_t;
	type sudo_exec_t;
	type tmp_t;
	type user_tmp_t;
}

allow groupadd_t proc_t:filesystem getattr;
allow init_t devpts_t:chr_file open;
allow init_t ptmx_t:chr_file { ioctl open read write };
allow init_t screen_exec_t:file { execute execute_no_trans map open read };
allow init_t sudo_exec_t:file { execute execute_no_trans map open read };
allow init_t tmp_t:sock_file create;
allow init_t user_tmp_t:file { create write };
