{% if global_overrides.bluemap.use.core is defined and overrides.bluemap.use.core is defined %}{{ bluemap.use.core | combine(global_overrides.bluemap.use.core, overrides.bluemap.use.core, recursive=True) | to_nice_json(indent=2) }}{% elif global_overrides.bluemap.use.core is defined %}{{ bluemap.use.core | combine(global_overrides.bluemap.use.core, recursive=True) | to_nice_json(indent=2) }}{% elif overrides.bluemap.use.core is defined %}{{ bluemap.use.core | combine(overrides.bluemap.use.core, recursive=True) | to_nice_json(indent=2) }}{% else %}{{ bluemap.use.core | to_nice_json(indent=2) }}{% endif %}