{% if global_overrides.bluemap.core is defined and overrides.bluemap.core is defined %}{{ bluemap.core | combine(global_overrides.bluemap.core, overrides.bluemap.core, recursive=True) | to_nice_json(indent=2) }}{% elif global_overrides.bluemap.core is defined %}{{ bluemap.core | combine(global_overrides.bluemap.core, recursive=True) | to_nice_json(indent=2) }}{% elif overrides.bluemap.core is defined %}{{ bluemap.core | combine(overrides.bluemap.core, recursive=True) | to_nice_json(indent=2) }}{% else %}{{ bluemap.core | to_nice_json(indent=2) }}{% endif %}