{% if global_overrides.bluemap.use.plugin is defined and overrides.bluemap.use.plugin is defined %}{{ bluemap.use.plugin | combine(global_overrides.bluemap.use.plugin, overrides.bluemap.use.plugin, recursive=True) | to_nice_json(indent=2) }}{% elif global_overrides.bluemap.use.plugin is defined %}{{ bluemap.use.plugin | combine(global_overrides.bluemap.use.plugin, recursive=True) | to_nice_json(indent=2) }}{% elif overrides.bluemap.use.plugin is defined %}{{ bluemap.use.plugin | combine(overrides.bluemap.use.plugin, recursive=True) | to_nice_json(indent=2) }}{% else %}{{ bluemap.use.plugin | to_nice_json(indent=2) }}{% endif %}