{% if global_overrides.bluemap.plugin is defined and overrides.bluemap.plugin is defined %}{{ bluemap.plugin | combine(global_overrides.bluemap.plugin, overrides.bluemap.plugin, recursive=True) | to_nice_json(indent=2) }}{% elif global_overrides.bluemap.plugin is defined %}{{ bluemap.plugin | combine(global_overrides.bluemap.plugin, recursive=True) | to_nice_json(indent=2) }}{% elif overrides.bluemap.plugin is defined %}{{ bluemap.plugin | combine(overrides.bluemap.plugin, recursive=True) | to_nice_json(indent=2) }}{% else %}{{ bluemap.plugin | to_nice_json(indent=2) }}{% endif %}