{% if global_overrides.bluemap.render is defined and overrides.bluemap.render is defined %}{{ bluemap.render | combine(global_overrides.bluemap.render, overrides.bluemap.render, recursive=True) | to_nice_json(indent=2) }}{% elif global_overrides.bluemap.render is defined %}{{ bluemap.render | combine(global_overrides.bluemap.render, recursive=True) | to_nice_json(indent=2) }}{% elif overrides.bluemap.render is defined %}{{ bluemap.render | combine(overrides.bluemap.render, recursive=True) | to_nice_json(indent=2) }}{% else %}{{ bluemap.render | to_nice_json(indent=2) }}{% endif %}