{% if global_overrides.bluemap.use.render is defined and overrides.bluemap.use.render is defined %}{{ bluemap.use.render | combine(global_overrides.bluemap.use.render, overrides.bluemap.use.render, recursive=True) | to_nice_json(indent=2) }}{% elif global_overrides.bluemap.use.render is defined %}{{ bluemap.use.render | combine(global_overrides.bluemap.use.render, recursive=True) | to_nice_json(indent=2) }}{% elif overrides.bluemap.use.render is defined %}{{ bluemap.use.render | combine(overrides.bluemap.use.render, recursive=True) | to_nice_json(indent=2) }}{% else %}{{ bluemap.use.render | to_nice_json(indent=2) }}{% endif %}