{% if global_overrides.bluemap.use.webserver is defined and overrides.bluemap.use.webserver is defined %}{{ bluemap.use.webserver | combine(global_overrides.bluemap.use.webserver, overrides.bluemap.use.webserver, recursive=True) | to_nice_json(indent=2) }}{% elif global_overrides.bluemap.use.webserver is defined %}{{ bluemap.use.webserver | combine(global_overrides.bluemap.use.webserver, recursive=True) | to_nice_json(indent=2) }}{% elif overrides.bluemap.use.webserver is defined %}{{ bluemap.use.webserver | combine(overrides.bluemap.use.webserver, recursive=True) | to_nice_json(indent=2) }}{% else %}{{ bluemap.use.webserver | to_nice_json(indent=2) }}{% endif %}