{% set combined_bluemap_webserver = bluemap.webserver %}
{% if global_overrides.bluemap.webserver is defined %}
{% set combined_bluemap_webserver = (combined_bluemap_webserver | combine(global_overrides.bluemap.webserver, recursive=True)) %}
{% endif %}
{% if node_overrides.bluemap.webserver is defined %}
{% set combined_bluemap_webserver = (combined_bluemap_webserver | combine(node_overrides.bluemap.webserver, recursive=True)) %}
{% endif %}
{% if outer_item.plugins.bluemap.webserver is defined %}
{% set combined_bluemap_webserver = (combined_bluemap_webserver | combine(outer_item.plugins.bluemap.webserver, recursive=True)) %}
{% endif %}

{{ combined_bluemap_webserver | to_nice_json(indent=2) }}