{% if outer_item.plugins.bluemap.webserver is defined %}
{% set combined_bluemap_webserver = (bluemap.webserver | combine(outer_item.plugins.bluemap.webserver, recursive=True)) %}
{% else %}
{% set combined_bluemap_webserver = bluemap.webserver %}
{% endif %}

{{ combined_bluemap_webserver | to_nice_json(indent=2) }}