{% if global_overrides.bluemap.webserver is defined and overrides.bluemap.webserver is defined %}{{ bluemap.webserver | combine(global_overrides.bluemap.webserver, overrides.bluemap.webserver, recursive=True) | to_nice_json(indent=2) }}{% elif global_overrides.bluemap.webserver is defined %}{{ bluemap.webserver | combine(global_overrides.bluemap.webserver, recursive=True) | to_nice_json(indent=2) }}{% elif overrides.bluemap.webserver is defined %}{{ bluemap.webserver | combine(overrides.bluemap.webserver, recursive=True) | to_nice_json(indent=2) }}{% else %}{{ bluemap.webserver | to_nice_json(indent=2) }}{% endif %}