{% set combined_unifiedmetrics = unifiedmetrics.driver.prometheus %}
{% if global_overrides.unifiedmetrics.driver.prometheus is defined %}
{% set combined_unifiedmetrics = (combined_unifiedmetrics | combine(global_overrides.unifiedmetrics.driver.prometheus, recursive=True)) %}
{% endif %}
{% if node_overrides.unifiedmetrics.driver.prometheus is defined %}
{% set combined_unifiedmetrics = (combined_unifiedmetrics | combine(node_overrides.unifiedmetrics.driver.prometheus, recursive=True)) %}
{% endif %}
{% if outer_item.unifiedmetrics.driver.prometheus is defined %}
{% set combined_unifiedmetrics = (combined_unifiedmetrics | combine(outer_item.unifiedmetrics.driver.prometheus, recursive=True)) %}
{% endif %}

{{ combined_unifiedmetrics | to_nice_yaml(indent=2) }}