{% if outer_item.plugins.viaversion is defined %}
{% set combined_luckperms = (viaversion | combine(outer_item.plugins.viaversion, recursive=True)) %}
{% else %}
{% set combined_luckperms = viaversion %}
{% endif %}

{{ combined_luckperms | to_nice_yaml(indent=2) }}