{% set combined_viaversion = viaversion %}
{% if global_overrides.viaversion is defined %}
{% set combined_viaversion = (combined_viaversion | combine(global_overrides.viaversion, recursive=True)) %}
{% endif %}
{% if node_overrides.viaversion is defined %}
{% set combined_viaversion = (combined_viaversion | combine(node_overrides.viaversion, recursive=True)) %}
{% endif %}
{% if outer_item.viaversion is defined %}
{% set combined_viaversion = (combined_viaversion | combine(outer_item.viaversion, recursive=True)) %}
{% endif %}

{{ combined_viaversion | to_nice_yaml(indent=2) }}