{% if global_overrides.bluemap.usefloodgate is defined and overrides.bluemap.usefloodgate is defined %}{{ bluemap.usefloodgate | combine(global_overrides.bluemap.usefloodgate, overrides.bluemap.usefloodgate, recursive=True) | to_nice_yaml(indent=2) }}{% elif global_overrides.bluemap.usefloodgate is defined %}{{ bluemap.usefloodgate | combine(global_overrides.bluemap.usefloodgate, recursive=True) | to_nice_yaml(indent=2) }}{% elif overrides.bluemap.usefloodgate is defined %}{{ bluemap.usefloodgate | combine(overrides.bluemap.usefloodgate, recursive=True) | to_nice_yaml(indent=2) }}{% else %}{{ bluemap.usefloodgate | to_nice_yaml(indent=2) }}{% endif %}