{% if global_overrides.bluemapfloodgate is defined and overrides.bluemapfloodgate is defined %}{{ bluemapfloodgate | combine(global_overrides.bluemapfloodgate, overrides.bluemapfloodgate, recursive=True) | to_nice_yaml(indent=2) }}{% elif global_overrides.bluemapfloodgate is defined %}{{ bluemapfloodgate | combine(global_overrides.bluemapfloodgate, recursive=True) | to_nice_yaml(indent=2) }}{% elif overrides.bluemapfloodgate is defined %}{{ bluemapfloodgate | combine(overrides.bluemapfloodgate, recursive=True) | to_nice_yaml(indent=2) }}{% else %}{{ bluemapfloodgate | to_nice_yaml(indent=2) }}{% endif %}