[Unit]
Description=Minecraft Server
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/bin/systemctl stop minecraft-bedrock
ExecStart=/usr/bin/sudo -u minecraft /home/minecraft/backup_bedrock.sh
ExecStart=/usr/bin/systemctl start minecraft-bedrock

[Install]
WantedBy=multi-user.target
