[Unit]
Description=Minecraft Bedrock Server
After=network.target

[Service]
Type=forking
ExecStart=/usr/bin/tmux new-session -s minecraft-bedrock -d '/home/minecraft/bedrock/bedrock_server'
ExecStop=/home/minecraft/stop_bedrock.sh

WorkingDirectory=/home/minecraft/bedrock

User=minecraft
Group=minecraft

[Install]
WantedBy=multi-user.target
