[Unit]
Description=Minecraft Server Backup
After=network.target

[Service]
Type=oneshot
ExecStart=/opt/minecraft/backup.sh

WorkingDirectory=/opt/minecraft

User=minecraft
Group=minecraft

[Install]
WantedBy=multi-user.target
