[Unit]
Description=Uptrack Upgrade
After=network.target

[Service]
Type=oneshot
ExecStart=/sbin/uptrack-upgrade -y

[Install]
WantedBy=multi-user.target
