{% if global_overrides.treeassist.default is defined and overrides.treeassist.default is defined %}
{{ treeassist.default | combine(global_overrides.treeassist.default, overrides.treeassist.default, recursive=True) | to_nice_yaml(indent=2) }}
{% elif global_overrides.treeassist.default is defined %}
{{ treeassist.default | combine(global_overrides.treeassist.default, recursive=True) | to_nice_yaml(indent=2) }}
{% elif overrides.treeassist.default is defined %}
{{ treeassist.default | combine(overrides.treeassist.default, recursive=True) | to_nice_yaml(indent=2) }}
{% else %}
{{ treeassist.default | to_nice_yaml(indent=2) }}
{% endif %}