{% set combined_treeassist = treeassist %}
{% if global_overrides.treeassist is defined %}
{% set combined_treeassist = (combined_treeassist | combine(global_overrides.treeassist, recursive=True)) %}
{% endif %}
{% if node_overrides.treeassist is defined %}
{% set combined_treeassist = (combined_treeassist | combine(node_overrides.treeassist, recursive=True)) %}
{% endif %}
{% if outer_item.treeassist is defined %}
{% set combined_treeassist = (combined_treeassist | combine(outer_item.treeassist, recursive=True)) %}
{% endif %}

{{ combined_treeassist | to_nice_yaml(indent=2) }}