{% set combined_bluebridgewg = bluebridgewg %}
{% if global_overrides.bluebridgewg is defined %}
{% set combined_bluebridgewg = (combined_bluebridgewg | combine(global_overrides.bluebridgewg, recursive=True)) %}
{% endif %}
{% if node_overrides.bluebridgewg is defined %}
{% set combined_bluebridgewg = (combined_bluebridgewg | combine(node_overrides.bluebridgewg, recursive=True)) %}
{% endif %}
{% if outer_item.bluebridgewg is defined %}
{% set combined_bluebridgewg = (combined_bluebridgewg | combine(outer_item.bluebridgewg, recursive=True)) %}
{% endif %}

{{ combined_bluebridgewg | to_nice_yaml(indent=2) }}