#!/bin/sh

apt update
if [ "$(/usr/lib/update-notifier/apt-check)" != "0;0" ] ; then
	systemctl stop minecraft-{{ edition }}
	apt -y upgrade

	if [ -f /var/run/reboot-required ] ; then
		reboot
	else
		systemctl start minecraft-{{ edition }}
	fi
else
	exit
fi
