#!/bin/sh

BACKUP={{ edition }}.tar.gz

tar cfO - {{ edition }} | gzip --best > "$BACKUP"
oci os object put --auth instance_principal --bucket-name {{ bucket_name }} --file "$BACKUP" --force
rm "$BACKUP"
