{% for i in instances if i.bluemap.use %}
{% set combined_bluemap = bluemap %}
{% if global_overrides.bluemap is defined %}
{% set combined_bluemap = (combined_bluemap | combine(global_overrides.bluemap, recursive=True)) %}
{% endif %}
{% if node_overrides.bluemap is defined %}
{% set combined_bluemap = (combined_bluemap | combine(node_overrides.bluemap, recursive=True)) %}
{% endif %}
{% if i.plugins.bluemap is defined %}
{% set combined_bluemap = (combined_bluemap | combine(i.plugins.bluemap, recursive=True)) %}
{% endif %}

{{ i.bluemap.domain }} {
  root * /opt/minecraft/{{ i.name }}/server/bluemap/web
  file_server

  reverse_proxy /live/* http://127.0.0.1:{{ combined_bluemap.webserver.port }}

  @JSONgz {
    path *.json
    file {
      try_files {path}.gz
    }
  }

  route @JSONgz {
    rewrite {http.matchers.file.relative}
    header Content-Type application/json
    header Content-Encoding gzip
  }
}
{% endfor %}