prometheus:
  global:
    scrape_interval: 5s
  configs:
    - name: minecraft
      host_filter: false
      scrape_configs:
        - job_name: {{ inventory_hostname }}
          static_configs:
            - targets: ["127.0.0.1:9100"]
      remote_write:
        - url: {{ unifiedmetrics.url }}
          basic_auth:
            username: {{ unifiedmetrics.username }}
            password: {{ unifiedmetrics.password }}
  wal_directory: /tmp/grafana-agent-wal

server:
  http_listen_address: '127.0.0.1'
  http_listen_port: 9090
