<service>
	<short>Minecraft</short>
	<description>Explore your own unique world, survive the night, and create anything you can imagine!</description>
{% for i in instances if i.state.enabled %}
	<port protocol="tcp" port="{{ combined_server['server-port'] }}"/>
{% if combined_server['query.port'] != None %}
	<port protocol="udp" port="{{ combined_server['query.port'] }}"/>
{% endif %}
{% if i.geyser %}
{% if i.plugins.geyser.bedrock.port is defined %}
{% set geyser_port = i.plugins.geyser.bedrock.port %}
{% elif node_overrides.geyser.bedrock.port is defined %}
{% set geyser_port = node_overrides.geyser.bedrock.port %}
{% elif global_overrides.geyser.bedrock.port is defined %}
{% set geyser_port = global_overrides.geyser.bedrock.port %}
{% else %}
{% set geyser_port = geyser.bedrock.port %}
{% endif %}
	<port protocol="udp" port="{{ geyser_port }}"/>
{% endif %}
{% endfor %}
{% if use_bluemap %}
	<port protocol="tcp" port="80"/>
	<port protocol="tcp" port="443"/>
{% endif %}
</service>
