<service>
	<short>Minecraft</short>
	<description>Explore your own unique world, survive the night, and create anything you can imagine!</description>
	<port protocol="tcp" port="{{ final_server_overrides['server-port'] }}"/>
{% if geyser %}
	<port protocol="udp" port="19132"/>
{% endif %}
{% if bluemap.use %}
{% if certbot %}
	<port protocol="tcp" port="443"/>
{% endif %}
	<port protocol="tcp" port="80"/>
{% endif %}
</service>
