deb [arch=arm64] http://{{ availability_domain.content }}.clouds.ports.ubuntu.com focal main restricted universe multiverse
deb [arch=amd64] http://{{ availability_domain.content }}.clouds.archive.ubuntu.com focal main restricted universe multiverse

deb [arch=arm64] http://{{ availability_domain.content }}.clouds.ports.ubuntu.com focal-updates main restricted universe multiverse
deb [arch=amd64] http://{{ availability_domain.content }}.clouds.archive.ubuntu.com focal-updates main restricted universe multiverse

deb [arch=arm64] http://{{ availability_domain.content }}.clouds.ports.ubuntu.com focal-security main restricted universe multiverse
deb [arch=amd64] http://{{ availability_domain.content }}.clouds.archive.ubuntu.com focal-security main restricted universe multiverse
