#jinja2: trim_blocks: False
{% for i in instances if i.state.enabled %}
minecraft-{{ i.name }} ALL=NOPASSWD: /usr/bin/systemctl stop minecraft-backup-mount@{{ i.name }}.service,/usr/bin/systemctl start minecraft-backup-mount@{{ i.name }}.service
{% endfor %}