minecraft ALL=NOPASSWD: {% for i in instances %}/usr/bin/systemctl stop minecraft-{{ i.name }}.service,/usr/bin/systemctl start minecraft-{{ i.name }}.service{{ "," if not loop.last else "" }}{% endfor %}
