{% set combined_minimotd = minimotd.plugin_settings %}
{% if global_overrides.minimotd.plugin_settings is defined %}
{% set combined_minimotd = (combined_minimotd | combine(global_overrides.minimotd.plugin_settings, recursive=True)) %}
{% endif %}
{% if node_overrides.minimotd.plugin_settings is defined %}
{% set combined_minimotd = (combined_minimotd | combine(node_overrides.minimotd.plugin_settings, recursive=True)) %}
{% endif %}
{% if outer_item.plugins.minimotd.plugin_settings is defined %}
{% set combined_minimotd = (combined_minimotd | combine(outer_item.plugins.minimotd.plugin_settings, recursive=True)) %}
{% endif %}

{{ combined_minimotd | to_nice_yaml(indent=2) }}