# This is the main configuration file for Bukkit.
# As you can see, there's actually not that much to configure without any plugins.
# For a reference for any variable inside this file, check out the Bukkit Wiki at
# https://www.spigotmc.org/go/bukkit-yml
#
# If you need help on this file, feel free to join us on irc or leave a message
# on the forums asking for advice.
#
# IRC: #spigot @ irc.spi.gt
#    (If this means nothing to you, just go to https://www.spigotmc.org/go/irc )
# Forums: https://www.spigotmc.org/
# Bug tracker: https://www.spigotmc.org/go/bugs


{% if outer_item.plugins.bukkit is defined %}
{% set combined_bukkit = (bukkit | combine(outer_item.plugins.bukkit, recursive=True)) %}
{% else %}
{% set combined_bukkit = bukkit %}
{% endif %}

{{ combined_bukkit | to_nice_yaml(indent=2) }}