# This is the commands configuration file for Bukkit.
# For documentation on how to make use of this file, check out the Bukkit Wiki at
# https://www.spigotmc.org/go/commands-yml
#
# If you need help on this file, feel free to join us on irc or leave a message
# on the forums asking for advice.
#
# IRC: #spigot @ irc.spi.gt
#    (If this means nothing to you, just go to https://www.spigotmc.org/go/irc )
# Forums: https://www.spigotmc.org/
# Bug tracker: https://www.spigotmc.org/go/bugs

{% set combined_commands = commands %}
{% if global_overrides.commands is defined %}
{% set combined_commands = (combined_commands | combine(global_overrides.commands, recursive=True)) %}
{% endif %}
{% if node_overrides.commands is defined %}
{% set combined_commands = (combined_commands | combine(node_overrides.commands, recursive=True)) %}
{% endif %}
{% if outer_item.commands is defined %}
{% set combined_commands = (combined_commands | combine(outer_item.commands, recursive=True)) %}
{% endif %}

{{ combined_commands | to_nice_yaml(indent=2) }}