# This is the main configuration file for Paper.
# As you can see, there's tons to configure. Some options may impact gameplay, so use
# with caution, and make sure you know what each option does before configuring.
#
# If you need help with the configuration or have any questions related to Paper,
# join us in our Discord or IRC channel.
#
# Discord: https://discord.gg/papermc
# IRC: #paper @ irc.esper.net ( https://webchat.esper.net/?channels=paper )
# Website: https://papermc.io/
# Docs: https://paper.readthedocs.org/
{% set combined_paper = paper %}
{% if global_overrides.paper is defined %}
{% set combined_paper = (combined_paper | combine(global_overrides.paper, recursive=True)) %}
{% endif %}
{% if node_overrides.paper is defined %}
{% set combined_paper = (combined_paper | combine(node_overrides.paper, recursive=True)) %}
{% endif %}
{% if outer_item.paper is defined %}
{% set combined_paper = (combined_paper | combine(outer_item.paper, recursive=True)) %}
{% endif %}

{{ combined_paper | to_nice_yaml(indent=2) }}