# Pufferfish Configuration
# Check out Pufferfish Host for maximum performance server hosting: https://pufferfish.host
# Join our Discord for support: https://discord.gg/reZw4vQV9H
# Download new builds at https://ci.pufferfish.host/job/Pufferfish
{% set combined_pufferfish = pufferfish %}
{% if global_overrides.pufferfish is defined %}
{% set combined_pufferfish = (combined_pufferfish | combine(global_overrides.pufferfish, recursive=True)) %}
{% endif %}
{% if node_overrides.pufferfish is defined %}
{% set combined_pufferfish = (combined_pufferfish | combine(node_overrides.pufferfish, recursive=True)) %}
{% endif %}
{% if outer_item.pufferfish is defined %}
{% set combined_pufferfish = (combined_pufferfish | combine(outer_item.pufferfish, recursive=True)) %}
{% endif %}

{{ combined_pufferfish | to_nice_yaml(indent=2) }}