# This is the main configuration file for Purpur.
# As you can see, there's tons to configure. Some options may impact gameplay, so use
# with caution, and make sure you know what each option does before configuring.
#
# If you need help with the configuration or have any questions related to Purpur,
# join us in our Discord guild.
#
# Website: https://purpurmc.org
# Docs: https://purpurmc.org/docs

{% set combined_purpur = purpur %}
{% if global_overrides.purpur is defined %}
{% set combined_purpur = (combined_purpur | combine(global_overrides.purpur, recursive=True)) %}
{% endif %}
{% if node_overrides.purpur is defined %}
{% set combined_purpur = (combined_purpur | combine(node_overrides.purpur, recursive=True)) %}
{% endif %}
{% if outer_item.purpur is defined %}
{% set combined_purpur = (combined_purpur | combine(outer_item.purpur, recursive=True)) %}
{% endif %}

{{ combined_purpur | to_nice_yaml(indent=2) }}