allow-flight={% if overrides.server.allow_flight is defined %}{{ overrides.server.allow_flight }}{% elif global_overrides.server.allow_flight is defined %}{{ global_overrides.server.allow_flight }}{% else %}{{ server.allow_flight }}{% endif %}

allow-nether={% if overrides.server.allow_nether is defined %}{{ overrides.server.allow_nether }}{% elif global_overrides.server.allow_nether is defined %}{{ global_overrides.server.allow_nether }}{% else %}{{ server.allow_nether }}{% endif %}

broadcast-console-to-ops={% if overrides.server.broadcast_console_to_ops is defined %}{{ overrides.server.broadcast_console_to_ops }}{% elif global_overrides.server.broadcast_console_to_ops is defined %}{{ global_overrides.server.broadcast_console_to_ops }}{% else %}{{ server.broadcast_console_to_ops }}{% endif %}

broadcast-rcon-to-ops={% if overrides.server.broadcast_rcon_to_ops is defined %}{{ overrides.server.broadcast_rcon_to_ops }}{% elif global_overrides.server.broadcast_rcon_to_ops is defined %}{{ global_overrides.server.broadcast_rcon_to_ops }}{% else %}{{ server.broadcast_rcon_to_ops }}{% endif %}

debug={% if overrides.server.debug is defined %}{{ overrides.server.debug }}{% elif global_overrides.server.debug is defined %}{{ global_overrides.server.debug }}{% else %}{{ server.debug }}{% endif %}

difficulty={% if overrides.server.difficulty is defined %}{{ overrides.server.difficulty }}{% elif global_overrides.server.difficulty is defined %}{{ global_overrides.server.difficulty }}{% else %}{{ server.difficulty }}{% endif %}

enable-command-block={% if overrides.server.enable_command_block is defined %}{{ overrides.server.enable_command_block }}{% elif global_overrides.server.enable_command_block is defined %}{{ global_overrides.server.enable_command_block }}{% else %}{{ server.enable_command_block }}{% endif %}

enable-jmx-monitoring={% if overrides.server.enable_jmx_monitoring is defined %}{{ overrides.server.enable_jmx_monitoring }}{% elif global_overrides.server.enable_jmx_monitoring is defined %}{{ global_overrides.server.enable_jmx_monitoring }}{% else %}{{ server.enable_jmx_monitoring }}{% endif %}

enable-query={% if overrides.server.enable_query is defined %}{{ overrides.server.enable_query }}{% elif global_overrides.server.enable_query is defined %}{{ global_overrides.server.enable_query }}{% else %}{{ server.enable_query }}{% endif %}

enable-rcon={% if overrides.server.enable_rcon is defined %}{{ overrides.server.enable_rcon }}{% elif global_overrides.server.enable_rcon is defined %}{{ global_overrides.server.enable_rcon }}{% else %}{{ server.enable_rcon }}{% endif %}

enable-status={% if overrides.server.enable_status is defined %}{{ overrides.server.enable_status }}{% elif global_overrides.server.enable_status is defined %}{{ global_overrides.server.enable_status }}{% else %}{{ server.enable_status }}{% endif %}

enforce-whitelist={% if overrides.server.enforce_whitelist is defined %}{{ overrides.server.enforce_whitelist }}{% elif global_overrides.server.enforce_whitelist is defined %}{{ global_overrides.server.enforce_whitelist }}{% else %}{{ server.enforce_whitelist }}{% endif %}

entity-broadcast-range-percentage={% if overrides.server.entity_broadcast_range_percentage is defined %}{{ overrides.server.entity_broadcast_range_percentage }}{% elif global_overrides.server.entity_broadcast_range_percentage is defined %}{{ global_overrides.server.entity_broadcast_range_percentage }}{% else %}{{ server.entity_broadcast_range_percentage }}{% endif %}

force-gamemode={% if overrides.server.force_gamemode is defined %}{{ overrides.server.force_gamemode }}{% elif global_overrides.server.force_gamemode is defined %}{{ global_overrides.server.force_gamemode }}{% else %}{{ server.force_gamemode }}{% endif %}

function-permission-level={% if overrides.server.function_permission_level is defined %}{{ overrides.server.function_permission_level }}{% elif global_overrides.server.function_permission_level is defined %}{{ global_overrides.server.function_permission_level }}{% else %}{{ server.function_permission_level }}{% endif %}

gamemode={% if overrides.server.gamemode is defined %}{{ overrides.server.gamemode }}{% elif global_overrides.server.gamemode is defined %}{{ global_overrides.server.gamemode }}{% else %}{{ server.gamemode }}{% endif %}

hardcore={% if overrides.server.hardcore is defined %}{{ overrides.server.hardcore }}{% elif global_overrides.server.hardcore is defined %}{{ global_overrides.server.hardcore }}{% else %}{{ server.hardcore }}{% endif %}

level-name={% if overrides.server.level_name is defined %}{{ overrides.server.level_name }}{% elif global_overrides.server.level_name is defined %}{{ global_overrides.server.level_name }}{% else %}{{ server.level_name }}{% endif %}

level-seed={% if overrides.server.level_seed is defined %}{{ overrides.server.level_seed }}{% elif global_overrides.server.level_seed is defined %}{{ global_overrides.server.level_seed }}{% else %}{{ server.level_seed }}{% endif %}

max-players={% if overrides.server.max_players is defined %}{{ overrides.server.max_players }}{% elif global_overrides.server.max_players is defined %}{{ global_overrides.server.max_players }}{% else %}{{ server.max_players }}{% endif %}

max-tick-time={% if overrides.server.max_tick_time is defined %}{{ overrides.server.max_tick_time }}{% elif global_overrides.server.max_tick_time is defined %}{{ global_overrides.server.max_tick_time }}{% else %}{{ server.max_tick_time }}{% endif %}

max-world-size={% if overrides.server.max_world_size is defined %}{{ overrides.server.max_world_size }}{% elif global_overrides.server.max_world_size is defined %}{{ global_overrides.server.max_world_size }}{% else %}{{ server.max_world_size }}{% endif %}

motd={% if overrides.server.motd is defined %}{{ overrides.server.motd }}{% elif global_overrides.server.motd is defined %}{{ global_overrides.server.motd }}{% else %}{{ server.motd }}{% endif %}

network-compression-threshold={% if overrides.server.network_compression_threshold is defined %}{{ overrides.server.network_compression_threshold }}{% elif global_overrides.server.network_compression_threshold is defined %}{{ global_overrides.server.network_compression_threshold }}{% else %}{{ server.network_compression_threshold }}{% endif %}

online-mode={% if overrides.server.online_mode is defined %}{{ overrides.server.online_mode }}{% elif global_overrides.server.online_mode is defined %}{{ global_overrides.server.online_mode }}{% else %}{{ server.online_mode }}{% endif %}

op-permission-level={% if overrides.server.op_permission_level is defined %}{{ overrides.server.op_permission_level }}{% elif global_overrides.server.op_permission_level is defined %}{{ global_overrides.server.op_permission_level }}{% else %}{{ server.op_permission_level }}{% endif %}

player-idle-timeout={% if overrides.server.player_idle_timeout is defined %}{{ overrides.server.player_idle_timeout }}{% elif global_overrides.server.player_idle_timeout is defined %}{{ global_overrides.server.player_idle_timeout }}{% else %}{{ server.player_idle_timeout }}{% endif %}

prevent-proxy-connections={% if overrides.server.prevent_proxy_connections is defined %}{{ overrides.server.prevent_proxy_connections }}{% elif global_overrides.server.prevent_proxy_connections is defined %}{{ global_overrides.server.prevent_proxy_connections }}{% else %}{{ server.prevent_proxy_connections }}{% endif %}

pvp={% if overrides.server.pvp is defined %}{{ overrides.server.pvp }}{% elif global_overrides.server.pvp is defined %}{{ global_overrides.server.pvp }}{% else %}{{ server.pvp }}{% endif %}

query.port={% if overrides.server.query_port is defined %}{{ overrides.server.query_port }}{% elif global_overrides.server.query_port is defined %}{{ global_overrides.server.query_port }}{% else %}{{ server.query_port }}{% endif %}

rate-limit={% if overrides.server.rate_limit is defined %}{{ overrides.server.rate_limit }}{% elif global_overrides.server.rate_limit is defined %}{{ global_overrides.server.rate_limit }}{% else %}{{ server.rate_limit }}{% endif %}

rcon.password={% if overrides.server.rcon_password is defined %}{{ overrides.server.rcon_password }}{% elif global_overrides.server.rcon_password is defined %}{{ global_overrides.server.rcon_password }}{% else %}{{ server.rcon_password }}{% endif %}

rcon.port={% if overrides.server.rcon_port is defined %}{{ overrides.server.rcon_port }}{% elif global_overrides.server.rcon_port is defined %}{{ global_overrides.server.rcon_port }}{% else %}{{ server.rcon_port }}{% endif %}

require-resource-pack={% if overrides.server.require_resource_pack is defined %}{{ overrides.server.require_resource_pack }}{% elif global_overrides.server.require_resource_pack is defined %}{{ global_overrides.server.require_resource_pack }}{% else %}{{ server.require_resource_pack }}{% endif %}

resource-pack-prompt={% if overrides.server.resource_pack_prompt is defined %}{{ overrides.server.resource_pack_prompt }}{% elif global_overrides.server.resource_pack_prompt is defined %}{{ global_overrides.server.resource_pack_prompt }}{% else %}{{ server.resource_pack_prompt }}{% endif %}

resource-pack-sha1={% if overrides.server.resource_pack_sha1 is defined %}{{ overrides.server.resource_pack_sha1 }}{% elif global_overrides.server.resource_pack_sha1 is defined %}{{ global_overrides.server.resource_pack_sha1 }}{% else %}{{ server.resource_pack_sha1 }}{% endif %}

resource-pack={% if overrides.server.resource_pack is defined %}{{ overrides.server.resource_pack }}{% elif global_overrides.server.resource_pack is defined %}{{ global_overrides.server.resource_pack }}{% else %}{{ server.resource_pack }}{% endif %}

server-ip={% if overrides.server.server_ip is defined %}{{ overrides.server.server_ip }}{% elif global_overrides.server.server_ip is defined %}{{ global_overrides.server.server_ip }}{% else %}{{ server.server_ip }}{% endif %}

server-port={% if overrides.server.server_port is defined %}{{ overrides.server.server_port }}{% elif global_overrides.server.server_port is defined %}{{ global_overrides.server.server_port }}{% else %}{{ server.server_port }}{% endif %}

snooper-enabled={% if overrides.server.snooper_enabled is defined %}{{ overrides.server.snooper_enabled }}{% elif global_overrides.server.snooper_enabled is defined %}{{ global_overrides.server.snooper_enabled }}{% else %}{{ server.snooper_enabled }}{% endif %}

spawn-animals={% if overrides.server.spawn_animals is defined %}{{ overrides.server.spawn_animals }}{% elif global_overrides.server.spawn_animals is defined %}{{ global_overrides.server.spawn_animals }}{% else %}{{ server.spawn_animals }}{% endif %}

spawn-monsters={% if overrides.server.spawn_monsters is defined %}{{ overrides.server.spawn_monsters }}{% elif global_overrides.server.spawn_monsters is defined %}{{ global_overrides.server.spawn_monsters }}{% else %}{{ server.spawn_monsters }}{% endif %}

spawn-npcs={% if overrides.server.spawn_npcs is defined %}{{ overrides.server.spawn_npcs }}{% elif global_overrides.server.spawn_npcs is defined %}{{ global_overrides.server.spawn_npcs }}{% else %}{{ server.spawn_npcs }}{% endif %}

spawn-protection={% if overrides.server.spawn_protection is defined %}{{ overrides.server.spawn_protection }}{% elif global_overrides.server.spawn_protection is defined %}{{ global_overrides.server.spawn_protection }}{% else %}{{ server.spawn_protection }}{% endif %}

sync-chunk-writes={% if overrides.server.sync_chunk_writes is defined %}{{ overrides.server.sync_chunk_writes }}{% elif global_overrides.server.sync_chunk_writes is defined %}{{ global_overrides.server.sync_chunk_writes }}{% else %}{{ server.sync_chunk_writes }}{% endif %}

text-filtering-config={% if overrides.server.text_filtering_config is defined %}{{ overrides.server.text_filtering_config }}{% elif global_overrides.server.text_filtering_config is defined %}{{ global_overrides.server.text_filtering_config }}{% else %}{{ server.text_filtering_config }}{% endif %}

use-native-transport={% if overrides.server.use_native_transport is defined %}{{ overrides.server.use_native_transport }}{% elif global_overrides.server.use_native_transport is defined %}{{ global_overrides.server.use_native_transport }}{% else %}{{ server.use_native_transport }}{% endif %}

view-distance={% if overrides.server.view_distance is defined %}{{ overrides.server.view_distance }}{% elif global_overrides.server.view_distance is defined %}{{ global_overrides.server.view_distance }}{% else %}{{ server.view_distance }}{% endif %}

white-list={% if overrides.server.white_list is defined %}{{ overrides.server.white_list }}{% elif global_overrides.server.white_list is defined %}{{ global_overrides.server.white_list }}{% else %}{{ server.white_list }}{% endif %}
