allow-flight={{ server_allow_flight }}
allow-nether={{ server_allow_nether }}
broadcast-console-to-ops={{ server_broadcast_console_to_ops }}
broadcast-rcon-to-ops={{ server_broadcast_rcon_to_ops }}
debug={{ server_debug }}
difficulty={{ server_difficulty }}
enable-command-block={{ server_enable_command_block }}
enable-jmx-monitoring={{ server_enable_jmx_monitoring }}
enable-query={{ server_enable_query }}
enable-rcon={{ server_enable_rcon }}
enable-status={{ server_enable_status }}
enforce-whitelist={{ server_enforce_whitelist }}
entity-broadcast-range-percentage={{ server_entity_broadcast_range_percentage }}
force-gamemode={{ server_force_gamemode }}
function-permission-level={{ server_function_permission_level }}
gamemode={{ server_gamemode }}
hardcore={{ server_hardcore }}
level-name={{ server_level_name }}
level-seed={{ server_level_seed }}
max-players={{ server_max_players }}
max-tick-time={{ server_max_tick_time }}
max-world-size={{ server_max_world_size }}
motd={{ server_motd }}
network-compression-threshold={{ server_network_compression_threshold }}
online-mode={{ server_online_mode }}
op-permission-level={{ server_op_permission_level }}
player-idle-timeout={{ server_player_idle_timeout }}
prevent-proxy-connections={{ server_prevent_proxy_connections }}
pvp={{ server_pvp }}
query.port={{ server_query_port }}
rate-limit={{ server_rate_limit }}
rcon.password={{ server_rcon_password }}
rcon.port={{ server_rcon_port }}
require-resource-pack={{ server_require_resource_pack }}
resource-pack-prompt={{ server_resource_pack_prompt }}
resource-pack-sha1={{ server_resource_pack_sha1 }}
resource-pack={{ server_resource_pack }}
server-ip={{ server_server_ip }}
server-port={{ server_server_port }}
snooper-enabled={{ server_snooper_enabled }}
spawn-animals={{ server_spawn_animals }}
spawn-monsters={{ server_spawn_monsters }}
spawn-npcs={{ server_spawn_npcs }}
spawn-protection={{ server_spawn_protection }}
sync-chunk-writes={{ server_sync_chunk_writes }}
text-filtering-config={{ server_text_filtering_config }}
use-native-transport={{ server_use_native_transport }}
view-distance={{ server_view_distance }}
white-list={{ server_white_list }}
