# This is the main configuration file for Spigot.
# As you can see, there's tons to configure. Some options may impact gameplay, so use
# with caution, and make sure you know what each option does before configuring.
# For a reference for any variable inside this file, check out the Spigot wiki at
# http://www.spigotmc.org/wiki/spigot-configuration/
#
# If you need help with the configuration or have any questions related to Spigot,
# join us at the Discord or drop by our forums and leave a post.
#
# Discord: https://www.spigotmc.org/go/discord
# Forums: http://www.spigotmc.org/
{% if outer_item.plugins.spigot is defined %}
{% set combined_spigot = (spigot | combine(outer_item.plugins.spigot, recursive=True)) %}
{% else %}
{% set combined_spigot = spigot %}
{% endif %}

{{ combined_spigot | to_nice_yaml(indent=2) }}