{% if global_overrides.permissionsex is defined and overrides.permissionsex is defined %}{{ permissionsex | combine(global_overrides.permissionsex, overrides.permissionsex, recursive=True) | to_nice_yaml(indent=2) }}{% elif global_overrides.permissionsex is defined %}{{ permissionsex | combine(global_overrides.permissionsex, recursive=True) | to_nice_yaml(indent=2) }}{% elif overrides.permissionsex is defined %}{{ permissionsex | combine(overrides.permissionsex, recursive=True) | to_nice_yaml(indent=2) }}{% else %}{{ permissionsex | to_nice_yaml(indent=2) }}{% endif %}