{% if outer_item.plugins.geyser is defined %}
{% set combined_geyser = (geyser | combine(outer_item.plugins.geyser, recursive=True)) %}
{% else %}
{% set combined_geyser = geyser %}
{% endif %}

{{ combined_geyser | to_nice_yaml(indent=2) }}