{% set combined_geyser = geyser %}
{% if global_overrides.geyser is defined %}
{% set combined_geyser = (combined_geyser | combine(global_overrides.geyser, recursive=True)) %}
{% endif %}
{% if node_overrides.geyser is defined %}
{% set combined_geyser = (combined_geyser | combine(node_overrides.geyser, recursive=True)) %}
{% endif %}
{% if outer_item.plugins.geyser is defined %}
{% set combined_geyser = (combined_geyser | combine(outer_item.plugins.geyser, recursive=True)) %}
{% endif %}

{{ combined_geyser | to_nice_yaml(indent=2) }}