{% if outer_item.plugins.worldedit is defined %}
{% set combined_luckperms = (worldedit | combine(outer_item.plugins.worldedit, recursive=True)) %}
{% else %}
{% set combined_worldedit = worldedit %}
{% endif %}

{{ combined_luckperms | to_nice_yaml(indent=2) }}