{% if outer_item.plugins.worldguard is defined %}
{% set combined_worldguard = (worldguard | combine(outer_item.plugins.worldguard, recursive=True)) %}
{% else %}
{% set combined_worldguard = worldguard %}
{% endif %}

{{ combined_worldguard | to_nice_yaml(indent=4) }}