#!/bin/sh

systemctl stop minecraft

tar cf - {% if use_bluemap %}server/bluemap/web/data/markers.json --exclude=server/bluemap --exclude=server/cache{% endif %} -S server | gzip --best -c | oci os object put --auth instance_principal --bucket-name {{ bucket_name }} --file - --name "minecraft.tar.gz" --force

systemctl start minecraft
