#!/bin/sh -e

systemctl stop minecraft

PAPERDIR="/opt/minecraft/server"

rm -fr $PAPERDIR
mkdir $PAPERDIR

oci os object get --auth instance_principal --bucket-name {{ cd_bucket_name }} --file /opt/minecraft/minecraft.tar --name minecraft.tar
tar xf /opt/minecraft/minecraft.tar -C /opt/minecraft/
rm /opt/minecraft/minecraft.tar

PAPER=$(curl --silent https://papermc.io/api/v2/projects/paper/versions/{{ version }} | jq ".builds | max")
curl "https://papermc.io/api/v2/projects/paper/versions/{{ version }}/builds/$PAPER/downloads/paper-{{ version }}-$PAPER.jar" -o $PAPERDIR/server.jar

curl https://ci.opencollab.dev/job/GeyserMC/job/Geyser/job/master/lastSuccessfulBuild/artifact/bootstrap/spigot/target/Geyser-Spigot.jar -o $PAPERDIR/plugins/Geyser-Spigot.jar

curl https://ci.opencollab.dev/job/GeyserMC/job/Floodgate/job/master/lastSuccessfulBuild/artifact/spigot/target/floodgate-spigot.jar -o $PAPERDIR/plugins/floodgate-spigot.jar

curl https://ci.opencollab.dev/job/GeyserMC/job/GeyserOptionalPack/job/master/lastSuccessfulBuild/artifact/GeyserOptionalPack.mcpack -o $PAPERDIR/plugins/Geyser-Spigot/packs/GeyserOptionalPack.mcpack

{% if use_chunky == true %}
CHUNKY=$(curl --silent https://ci.codemc.io/job/pop4959/job/Chunky/lastSuccessfulBuild/api/json | jq -r '.artifacts[0].fileName')
curl https://ci.codemc.io/view/Author/job/pop4959/job/Chunky/lastSuccessfulBuild/artifact/bukkit/build/libs/"$CHUNKY" -o $PAPERDIR/plugins/Chunky.jar
{% else %}
rm -fr $PAPERDIR/plugins/Chunky.jar $PAPERDIR/plugins/Chunky/
{% endif %}

TABTPS=$(curl --silent "https://api.github.com/repos/jpenilla/TabTPS/releases/latest" | jq -r '.assets[].browser_download_url' | grep spigot)
curl -L "$TABTPS" -o $PAPERDIR/plugins/tabtps.jar

{% if use_viaversion == true %}
VIAVERSION=$(curl --silent "https://api.github.com/repos/ViaVersion/ViaVersion/releases/latest" | jq -r '.assets[].browser_download_url')
curl -L "$VIAVERSION" -o ViaVersion.jar
{% else %}
rm -fr $PAPERDIR/plugins/ViaVersion.jar $PAPERDIR/plugins/ViaVersion/
{% endif %}

chown -R minecraft:minecraft $PAPERDIR

systemctl start minecraft
