#!/bin/sh -e

sudo systemctl stop minecraft-{{ outer_item.name }}.service

PUFFERFISHDIR="/opt/minecraft/{{ outer_item.name }}/server"
BACKUPDIR="/opt/minecraft/{{ outer_item.name }}/backup"

rm -fr $PUFFERFISHDIR $BACKUPDIR
mkdir $PUFFERFISHDIR $BACKUPDIR

oci os object get --auth instance_principal --bucket-name {{ outer_item.state.continuous_deployment.bucket_name }} --file - --name minecraft-{{ outer_item.name }}.tar | tar xf - -C /opt/minecraft/{{ outer_item.name }}/backup/
cd $PUFFERFISHDIR
borg extract /opt/minecraft/{{ outer_item.name }}/backup::$(borg list --last 1 backup | awk '{print $1}')
rm -fr $BACKUPDIR

curl "https://ci.pufferfish.host/job/Pufferfish-1.18/lastBuild/artifact/build/libs/pufferfish-paperclip-1.18.2-R0.1-SNAPSHOT-reobf.jar" -o $PUFFERFISHDIR/server.jar

{% if outer_item.chunky %}
CHUNKY=$(curl --silent https://ci.codemc.io/job/pop4959/job/Chunky/lastSuccessfulBuild/api/json | jq -r '.artifacts[0].fileName')
curl https://ci.codemc.io/view/Author/job/pop4959/job/Chunky/lastSuccessfulBuild/artifact/bukkit/build/libs/"$CHUNKY" -o $PUFFERFISHDIR/plugins/Chunky.jar
{% else %}
rm -fr $PUFFERFISHDIR/plugins/Chunky.jar $PUFFERFISHDIR/plugins/Chunky/
{% endif %}

{% if outer_item.geyser %}
curl https://ci.opencollab.dev/job/GeyserMC/job/Geyser/job/master/lastSuccessfulBuild/artifact/bootstrap/spigot/target/Geyser-Spigot.jar -o $PUFFERFISHDIR/plugins/Geyser-Spigot.jar

curl https://ci.opencollab.dev/job/GeyserMC/job/Floodgate/job/master/lastSuccessfulBuild/artifact/spigot/target/floodgate-spigot.jar -o $PUFFERFISHDIR/plugins/floodgate-spigot.jar

curl https://ci.opencollab.dev/job/GeyserMC/job/GeyserOptionalPack/job/master/lastSuccessfulBuild/artifact/GeyserOptionalPack.mcpack -o $PUFFERFISHDIR/plugins/Geyser-Spigot/packs/GeyserOptionalPack.mcpack
{% endif %}

rm -fr $PUFFERFISHDIR/plugins/DiscordSRV.jar $PUFFERFISHDIR/plugins/DiscordSRV/

TABTPS=$(curl --silent "https://api.github.com/repos/jpenilla/TabTPS/releases/latest" | jq -r '.assets[].browser_download_url' | grep spigot)
curl -L "$TABTPS" -o $PUFFERFISHDIR/plugins/tabtps.jar

{% if outer_item.viaversion %}
VIAVERSION=$(curl --silent "https://api.github.com/repos/ViaVersion/ViaVersion/releases/latest" | jq -r '.assets[].browser_download_url')
curl -L "$VIAVERSION" -o $PUFFERFISHDIR/plugins/ViaVersion.jar
{% else %}
rm -fr $PUFFERFISHDIR/plugins/ViaVersion.jar $PUFFERFISHDIR/plugins/ViaVersion/
{% endif %}

sudo systemctl start minecraft-{{ outer_item.name }}.service
