#jinja2: trim_blocks: False
#!/bin/sh

dnf check-update
if [ "$?" = "100" ] ; then

	for i in{% for i in instances %} {{ i.name }}{% endfor %}
	do
		printf "Server closed for updates." > "$i"/server/stop
		systemctl stop minecraft-"$i"
		rm "$i"/server/stop
	done

	dnf -y update

	if [ ! "$(dnf needs-restarting -r)" ] ; then
		reboot
	else
		SERVICES=$(dnf needs-restarting -s)
		if [ -n "$SERVICES" ] ; then
			#shellcheck disable=2086
			systemctl restart $SERVICES
		fi
		systemctl start{% for i in instances if i.state.enabled %} minecraft-{{ i.name }}{% endfor %}
	fi
fi
