#!/usr/bin/env python3

import oci
import requests
import os
import psutil
from mcstatus import MinecraftServer
import shutil
from datetime import datetime
import time

signer = oci.auth.signers.InstancePrincipalsSecurityTokenSigner()
identity_client = oci.identity.IdentityClient(config={}, signer=signer)

metadata = requests.get('http://169.254.169.254/opc/v2/instance/',
                        headers={'Authorization': 'Bearer Oracle'}).json()
compartment_id = metadata['compartmentId']
region = metadata['region']
resource_display_name = metadata['displayName']
resource_id = metadata['id']

monitoring_client = oci.monitoring.MonitoringClient(
    config={}, signer=signer, service_endpoint='https://telemetry-ingestion.' + region + '.oraclecloud.com')

while True:
    load_average = os.getloadavg()
    load_average_1_percent = (load_average[0] / os.cpu_count()) * 100
    load_average_5_percent = (load_average[1] / os.cpu_count()) * 100
    load_average_15_percent = (load_average[2] / os.cpu_count()) * 100
    heap = requests.get(
        'http://localhost:8778/jolokia/read/java.lang:type=Memory/HeapMemoryUsage').json()['value']
    heap_percentage = (heap['used'] / heap['init']) * 100
    swap = psutil.swap_memory()
    swap_percentage = (swap.used / swap.total) * 100
    mspt = float(requests.get(
        'http://127.0.0.1:8778/jolokia/read/net.minecraft.server:type=Server/averageTickTime').json()['value'])
    players = MinecraftServer(
        '127.0.0.1', {{ final_server_overrides['server-port'] }}).status().players
    root_disk_usage = shutil.disk_usage('/')
    root_disk_usage_percent = (root_disk_usage.used /
                               root_disk_usage.total) * 100
    efi_disk_usage = shutil.disk_usage('/boot/efi')
    efi_disk_usage_percent = (efi_disk_usage.used / efi_disk_usage.total) * 100

    date_time = datetime.now().strftime('%Y-%m-%dT%H:%M:%S.%fZ')

    post_metric_data_response = monitoring_client.post_metric_data(
        post_metric_data_details=oci.monitoring.models.PostMetricDataDetails(
            metric_data=[
                oci.monitoring.models.MetricDataDetails(
                    namespace='minecraft',
                    compartment_id=compartment_id,
                    name='LoadAverage1',
                    dimensions={
                        'resourceDisplayName': resource_display_name,
                        'resourceId': resource_id
                    },
                    datapoints=[
                        oci.monitoring.models.Datapoint(
                            timestamp=date_time,
                            value=load_average_1_percent
                        )
                    ],
                    metadata={
                        'displayName': 'Load Average (1 minute)',
                        'minRange': '0',
                        'unit': 'Percent'
                    }
                ),
                oci.monitoring.models.MetricDataDetails(
                    namespace='minecraft',
                    compartment_id=compartment_id,
                    name='LoadAverage5',
                    dimensions={
                        'resourceDisplayName': resource_display_name,
                        'resourceId': resource_id
                    },
                    datapoints=[
                        oci.monitoring.models.Datapoint(
                            timestamp=date_time,
                            value=load_average_5_percent
                        )
                    ],
                    metadata={
                        'displayName': 'Load Average (5 minutes)',
                        'minRange': '0',
                        'unit': 'Percent'
                    }
                ),
                oci.monitoring.models.MetricDataDetails(
                    namespace='minecraft',
                    compartment_id=compartment_id,
                    name='LoadAverage15',
                    dimensions={
                        'resourceDisplayName': resource_display_name,
                        'resourceId': resource_id
                    },
                    datapoints=[
                        oci.monitoring.models.Datapoint(
                            timestamp=date_time,
                            value=load_average_15_percent
                        )
                    ],
                    metadata={
                        'displayName': 'Load Average (15 minutes)',
                        'minRange': '0',
                        'unit': 'Percent'
                    }
                ),
                oci.monitoring.models.MetricDataDetails(
                    namespace='minecraft',
                    compartment_id=compartment_id,
                    name='HeapUtilization',
                    dimensions={
                        'resourceDisplayName': resource_display_name,
                        'resourceId': resource_id
                    },
                    datapoints=[
                        oci.monitoring.models.Datapoint(
                            timestamp=date_time,
                            value=heap_percentage
                        )
                    ],
                    metadata={
                        'displayName': 'Heap Utilization',
                        'minRange': '0',
                        'maxRange': '100',
                        'unit': 'Percent'
                    }
                ),
                oci.monitoring.models.MetricDataDetails(
                    namespace='minecraft',
                    compartment_id=compartment_id,
                    name='SwapUtilization',
                    dimensions={
                        'resourceDisplayName': resource_display_name,
                        'resourceId': resource_id
                    },
                    datapoints=[
                        oci.monitoring.models.Datapoint(
                            timestamp=date_time,
                            value=(psutil.swap_memory().used /
                                   psutil.swap_memory().total) * 100
                        )
                    ],
                    metadata={
                        'displayName': 'Swap Utilization',
                        'maxRange': '100',
                        'minRange': '0',
                        'unit': 'Percent'
                    }
                ),
                oci.monitoring.models.MetricDataDetails(
                    namespace='minecraft',
                    compartment_id=compartment_id,
                    name='MillisecondsPerTick',
                    dimensions={
                        'resourceDisplayName': resource_display_name,
                        'resourceId': resource_id
                    },
                    datapoints=[
                        oci.monitoring.models.Datapoint(
                            timestamp=date_time,
                            value=mspt
                        )
                    ],
                    metadata={
                        'displayName': 'Milliseconds Per Tick',
                        'minRange': '0',
                        'unit': 'MSPT'
                    }
                ),
                oci.monitoring.models.MetricDataDetails(
                    namespace='minecraft',
                    compartment_id=compartment_id,
                    name='PlayerCount',
                    dimensions={
                        'resourceDisplayName': resource_display_name,
                        'resourceId': resource_id
                    },
                    datapoints=[
                        oci.monitoring.models.Datapoint(
                            timestamp=date_time,
                            value=players.online
                        )
                    ],
                    metadata={
                        'displayName': 'Players Online',
                        'minRange': '0',
                        'maxRange': str(players.max),
                        'unit': 'Players'
                    }
                ),
                oci.monitoring.models.MetricDataDetails(
                    namespace='minecraft',
                    compartment_id=compartment_id,
                    name='RootDiskUtilization',
                    dimensions={
                        'resourceDisplayName': resource_display_name,
                        'resourceId': resource_id
                    },
                    datapoints=[
                        oci.monitoring.models.Datapoint(
                            timestamp=date_time,
                            value=root_disk_usage_percent
                        )
                    ],
                    metadata={
                        'displayName': 'Root Disk Utilization',
                        'maxRange': '100',
                        'minRange': '0',
                        'unit': 'Percent'
                    }
                ),
                oci.monitoring.models.MetricDataDetails(
                    namespace='minecraft',
                    compartment_id=compartment_id,
                    name='EfiDiskUtilization',
                    dimensions={
                        'resourceDisplayName': resource_display_name,
                        'resourceId': resource_id
                    },
                    datapoints=[
                        oci.monitoring.models.Datapoint(
                            timestamp=date_time,
                            value=efi_disk_usage_percent
                        )
                    ],
                    metadata={
                        'displayName': 'EFI Disk Utilization',
                        'maxRange': '100',
                        'minRange': '0',
                        'unit': 'Percent'
                    }
                )
            ],
            batch_atomicity='ATOMIC')
    )

    time.sleep(1)
